html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Common Styles */
body {
  background: #fafafa;
  /* font-family: 'Times New Roman', Times, serif; */
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 3.5rem;
}

.mobile-aside {
  display: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .aside h2 {
  font-size: 2rem;
  margin-bottom: 4rem;
  font-weight: 900;
}

.main .aside ul a {
  display: inline-block;
  margin: 0 0 2.5rem 0;
  color: #717171;
  text-decoration: none;
}

.main .aside .cart-link {
  display: inline-block;
  margin: 2rem 0;
  background: #f04b4b;
  color: #ffffff;
  text-decoration: none;
  padding: 1rem 3rem;
  border-radius: 1.5rem;
}

.hero-section {
  padding: 3rem 0rem 3rem 5rem;
  line-height: 1.5;
}

.hero-section .hero-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-section .hero-center h1 {
  font-size: 5rem;
  font-weight: 900;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}

.hero-section .hero-center .hero-para-div {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.hero-section .hero-center .hero-para-div p {
  color: #717171;
}

.hero-section .hero-center .hero-para-div .hero-para-border {
  margin: 1rem 0;
  width: 30%;
  border-bottom: 0.2rem solid red;
  border-radius: 20rem;
}

.menu-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-section .menu-card {
  background: #ffffff;
  margin: 3rem 0rem 3rem 0;
  padding: 1.4rem 1.6rem;
  -webkit-box-shadow: 0rem 0.5rem 1.5rem 0.5rem #dddddd;
          box-shadow: 0rem 0.5rem 1.5rem 0.5rem #dddddd;
  border-radius: 0.8rem;
}

.menu-section .menu-card img {
  border-radius: 50%;
  width: 7.5rem;
  height: 7.5rem;
  margin-bottom: 1.2rem;
}

.menu-section .menu-card .menu-card-name {
  font-weight: 700;
}

@media screen and (max-width: 786px) {
  html {
    font-size: 12px;
  }
  .container {
    display: inline-block;
    padding: 2rem 0;
  }
  .aside {
    display: none;
  }
  .mobile-aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .mobile-aside i {
    display: inline-block;
    color: #f04b4b;
  }
  .mobile-aside h1 {
    font-size: 2.5rem;
    font-weight: 900;
  }
  .mobile-hero-section {
    padding: 2rem;
  }
  .mobile-hero-section .mobile-hero-center {
    display: block;
  }
  .mobile-hero-section .mobile-hero-center h1 {
    font-size: 2.5rem;
  }
  .mobile-hero-section .mobile-hero-center p {
    margin-top: 2rem;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 12px;
  }
  .container {
    display: inline-block;
    padding: 2rem 0;
  }
  .aside {
    display: none;
  }
  .mobile-aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .mobile-aside i {
    display: inline-block;
    color: #f04b4b;
  }
  .mobile-aside h1 {
    font-size: 2.5rem;
    font-weight: 900;
  }
  .mobile-hero-section {
    padding: 2rem;
  }
  .mobile-hero-section .mobile-hero-center {
    display: block;
  }
  .mobile-hero-section .mobile-hero-center h1 {
    font-size: 2.5rem;
  }
  .mobile-hero-section .mobile-hero-center p {
    margin-top: 2rem;
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=style.css.map */